@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Regular.ttf') format('ttf'),
  url('font/Poppins-Bold.ttf') format('ttf'), /* Modern Browsers */
  url('font/Poppins-Medium.ttf') format('ttf'),
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainLoginpage{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pintrestlogo{
  width: 200px;
}
.taglineLogin{
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.googleLoginButton{
  width: 350px;
  height: 65px;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.googleLoginButton:hover{
  cursor: pointer;
}
.googleLoginIcon{
  width: 30px;
  margin-right: 10px;
}
.logintext{
  margin-left: 10px;
  color: grey;
  font-size: 18px;
  font-weight: 600;
}

/*MainPage*/

.MainPage{
  width: 100%;
  height: 100vh;
  /* background-color: aquamarine; */
}
.Header{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.firstContainer,.thirdContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100%;
}
.firstContainer{
  width: 32%;
}
.secondContainer{
  width: 100vw;
  /* background-color: aqua; */
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
}

.headerLogo{
  width: 25px;
  padding-left: 15px;
}
.tag{
  font-weight: 600;
  font-size: 14px;
  transition: 0.5s;
}
.tag:hover,.activetag:hover{
  cursor: pointer;
}
.activetag{
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: 15px;
}
.one{
  width: 100%;
  display: flex;justify-content:space-around;
  align-items: center;
}
.two
{
  position: fixed;
  top: 90px;
  right: 10px;
  height:200px;
  width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.personalinfo{
  width: 90%;
  height: 120px;
  border-radius: 20px;
  /* background-color: #d9d9d9; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.personalprofileimage{
  width: 75px;
  height: 75px;
  border-radius: 40px;
  padding-left: 20px;
}
.personalprofileimageimg{
  width: 75px;
  height: 75px;
  border-radius: 40px;
}
.personalprofilename{
  font-size: 16px;
  font-weight: 600;
}
.personalprofileemail{
  font-size: 12px;
  font-family: 500;
  color: rgb(50, 50, 50);
  width: 140px;
  height: auto;
  word-break: break-all;
  padding-right: 20px;
}

/*signout button*/
.signoutbutton{
  width: 90%;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}


/*searchbar*/
.searchBar{
  height: 60px;
  background-color: rgb(233, 233, 233);
  width: 100%;
  border-radius: 40px;
  height: 100%;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.searchBar::placeholder{
  color: grey;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}
.userprofileimage{
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
.thirdsectionimage{
  width: 22px;
  height: 22px;
}
.downarrow{
  width: 15px;
}


/*Homepage Styling*/

.homepage {
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex-grow: 1;
  max-width: calc(16% - 10px); /* Adjust based on desired column width */
}

.imagediv {
  background-color: #ececec;
  margin-bottom: 10px;
  /* padding: 10px; */
  border-radius: 20px;
}
.displayimageimage{
  height: max-content;
  width: 100%;
  border-radius: 20px;
}

/*details page*/
.detailspage{
  height: 100vh;
  /* width: 100%;background-color: #05060f; */
}




/*CreatepageStyling*/


.createpage{
  width: 100%;
  height: max-content;
  padding-top: 80px;
  /* background-color: aqua; */
}
.createpinhead{
  position: fixed;
  z-index: 10;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.200);
  border-bottom: 1px solid rgba(0, 0, 0, 0.200);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.headtext{
  padding-left: 30px;
}
.publishbutton{
  margin-right: 30px;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
  background-color: rgb(224, 66, 66);
  font-size: 16px;
  color: white;
}
.publishbutton:hover{
  cursor: pointer;
}

.uploaddiv{
  padding-top: 30px;
  margin-top: 82px;
  width: 100%;
  height: max-content;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.uploadimagediv{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displaydiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.chooseimagebutton{
padding-top: 20px;
padding-bottom: 30px;

}
.uploaddetailsdiv{
  width: 50%;
  height: 100%;
}
.displayimage{
  max-width:60%;
  max-height: 60vh;
  /* margin-left: 30px; */
  border-radius: 30px;
  object-fit: cover;
}

/*details*/
.input {
  max-width: 80%;
  width: 100%;
  height: 44px;
  /* background-color: #05060f0a; */
  border: 2px solid grey;
  border-radius:15px;
  padding: 0 1rem;
  border: 2px solid rgb(184, 184, 184);
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  margin-top: 20px;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  margin-left: 10px;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}


/*Explorepage Styling*/

/*Details Page*/

.detailspage{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerdiv{
  width:65% ;
  height: 100vh;
  margin-top: 95px;
  margin-bottom: 30px;
  border-radius: 30px;
  /* background-color: #05060f; */
  overflow: hidden;
  display: flex;justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageprevdiv{
  width: 50%;
  height: 100%;
  background-color: rgb(183, 183, 183);
}
.imagedetailsdiv{
  width: 50%;
  height: 100%;
}
.detailsprevheader{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneprevheader{
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadimageimg{
  width: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.twoprevheader{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.savebutton{
  width:min-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  border-radius: 40px;
  color: white;
  margin-right: 30px;
  font-weight: 600;
}
.linkprev{
  font-size: 12px;
  color: black;
  font-weight: 600;
  padding-left: 45px;
}
.linkprev a{
  color: black;
}
.titleprev{
  font-size: 26px;
  color: black;
  font-weight: 600;
  width: 80%;
  word-wrap: break-word;
  padding-left: 40px;
  margin-top: 20px;
}
.descprev{
  font-size: 20px;
  color: rgb(82, 82, 82);
  font-weight: 600;
  width: 80%;
  word-wrap: break-word;
  padding-left: 40px;
  margin-top: 0px;
}
.profilediv{
  width: 80%;
  height: 80px;
  /* background-color: #cdcdcd; */
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profone{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.profilepictureprev{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: grey;
  margin-left: 0px;
  margin-right: 10px;
}

/*backbutton*/
.backbuttondetails{
  position: fixed;
  top: 90px;
  left: 30px;
}
.backbuttondetails:hover{
  cursor: pointer;
}
.backimg{
  width: 30px;
}
